<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practiceadvancedgui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeAdvancedGUI">
        <activity android:name=".swiperefreshlayout.MainActivity11"
            android:theme="@style/Theme.UserPracticeAdvancedGUI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".drawerlayout.MainActivity10"
            android:theme="@style/Theme.UserPracticeAdvancedGUI">

        </activity>
        <activity
            android:name=".bottomnavigation.MainActivity9"
            android:theme="@style/Theme.UserPracticeAdvancedGUI"></activity>
        <activity
            android:name=".tablayout.MainActivity8"
            android:theme="@style/Theme.UserPracticeAdvancedGUI" />
        <activity
            android:name=".viewpager.MainActivity7"
            android:theme="@style/Theme.UserPracticeAdvancedGUI" />
        <activity
            android:name=".viewpager.MainActivity6"
            android:theme="@style/Theme.UserPracticeAdvancedGUI" />
        <activity
            android:name=".viewpager.MainActivity5"
            android:theme="@style/Theme.UserPracticeAdvancedGUI" />
        <activity
            android:name=".popupmenu.MainActivity4"
            android:theme="@style/Theme.UserPracticeAdvancedGUI" />
        <activity
            android:name=".contextmenu.MainActivity3"
            android:theme="@style/Theme.UserPracticeAdvancedGUI" />
        <activity
            android:name=".optionmenu.MainActivity2"
            android:theme="@style/Theme.UserPracticeAdvancedGUI" />
        <activity
            android:name=".toolbar.MainActivity"
            android:theme="@style/Theme.UserPracticeAdvancedGUI" />
    </application>

</manifest>